<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Oh, &eacute; algo terr&iacute;vel!! :'(
                </h2>
                <p>
                    A p&aacute;gina solicitada est&aacute; indispon&iacute;vel no momento.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="/">Voltar</a>
                </p>
            </div>
        </div>
    </div>
</div>

