<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{#if title}} {{title}}{{/if}} | Sistema Alarme</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/site.css' />
</head>
<body class="custom-font-enabled">
        {{#if nome}}
        <div id="greeting">
            <strong>Olá, {{nome}}!</strong>
            <a href="/users/logout">Log out</a>
        </div>
        {{/if}}
    <div id="page" class="hfeed site">
        <!-- BEGIN page-specific content -->
        {{{body}}}
        <!-- END page-specific content -->
    </div>
</body>
</html>