@font-face {
    font-family: "Mandator";
    src: url(../fonts/MANDATOR.TTF);
}

#login-form {
    background: url(../images/bg.jpg);
    padding: 1%;
}

.placa {
    font-family: Mandator;
    font-size: 70px;
    text-align: center;
    color: black;
    background-color: #bfbfbf;
    border: 5px solid black;
    border-radius: 8px 8px;
    width: 400px;
    min-width: 400px;
    margin-bottom: 5%;
}

.car-info {
    font-size: 30px;
    text-align: center;
}

.botao {
    text-align: center;
}

#conectado {
    margin-top: 1%;
    color: blue;
}

#sem-notificacao {
    margin-top: 1%;
    color: green;
}

#com-notificacao, #desconectado {
    margin-top: 1%;
    color: red;
}

#marca-carro {
    margin: 1% 0 1% 0;
    text-align:left;
}

#alarme-status{
    font-size: 38px;
    color: red;
}

#car-info-status{
    font-size: 30px;
}

.divJumbotron{
    margin-top: 5%;
    text-align:center;
    font-size: 20px;
}

.dt-style{
    font-weight: bold;
    font-size: 25px;
}

dd{
    font-weight: bold;
    font-size: 30px;
}