fieldset {
    background-color: #0094ff;
    color: #ffffff;
    font-weight: bold;
    margin: 0.5% 0 0.5% 0;
}

#listaVeiculos {
    color: #0094ff;
    font-weight: bold;
}

div{
    display: block;
    position: relative;
    margin: 0.5% 0 0 0;
}
