fieldset {
    background-color: #f88837;
    color: #ffffff;
    font-weight: bold;
    margin: 0.5% 0 0.5% 0;
}

#listaVeiculos {
    color: #ffffff;
    font-weight: bold;
}

a{
    font-weight:normal;
}

div{
    display: block;
    position: relative;
    margin: 0.5% 0 0 0;
}
