<div class="jumbotron divJumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="car-info">
                    Sistema de Gerenciamento Remoto de Alarme 1.0.0
                </h2>
                <p>
                    Este sistema foi constru&iacute;do por Luiz Fernando da Silva, bacharelando em Sistemas de Informa&ccedil;&atilde;o
                    pelo Instituto Federal de Educa&ccedil;&atilde;o, Ci&ecirc;ncia e Tecnologia do Sudeste de Minas Gerais - Campus Juiz
                    de Fora, como Trabalho de Conclus&atilde;o de Curso e exig&ecirc;ncia para obten&ccedil;&atilde;o do t&iacute;tulo de Bacharel.
                </p>
                <p>
                    O SGRA &eacute; totalmente feito em Javascript, com a tecnologia NodeJS com o Express 4 Framework, utilizando bibliotecas JQuery,
                    Bootstrap e outras. A persist&ecirc;ncia &eacute; feita em NoSQL com MongoDB utilizando o m&oacute;dulo Mongoose e a interface
                    &eacute; constru&iacute;da com a template Handlebars (hbs).
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="/">Voltar</a>
                </p>
            </div>
        </div>
    </div>
</div>