<fieldset>
    <div class="widget">
        <form name="create-user-form" id="create-user-form" method="post" novalidate>
            <div><input type="text" id="nome" name="nome" placeholder="Nome" required value="{{input.nome}}" /></div>
            <div><input type="text" id="cpf" name="cpf" placeholder="CPF"  required value="{{input.cpf}}" /></div>
            <div><input type="email" id="email" name="email" placeholder="E-mail" required value="{{input.email}}" /></div>
            <div><input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required /></div>
            <div class="form-submit">
                <input type="submit" value="Criar Conta" />
            </div>
            <span style="color:red;">{{error}}</span>
        </form>
    </div>
</fieldset>