<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Excluir Conta :(
                </h2>
                <p>
                    Voc&ecirc; tem certeza que deseja excluir sua conta? Esta opera&ccedil;&atilde;o n&atilde;o poder&aacute; ser alterada.
                </p>
                <form>
                    <button type="submit" formmethod="post" class="btn btn-primary">
                        Excluir Conta
                    </button>
                    <br /><br /><a href="/">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>
