<!--<div class="jumbotron divJumbotron">
    <h1>
        Excluir Conta :(
    </h1>
    <p>
        Voc&ecirc; tem certeza que deseja excluir sua conta? Esta opera&ccedil;&atilde;o n&atilde;o poder&aacute; ser alterada.
    </p>
    <form>
        <button type="submit" formmethod="post" class="btn btn-primary">
            Excluir Conta
        </button>
    </form>
</div>-->
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>
                <span class="help-li glyphicon glyphicon-trash" aria-hidden="true"></span>Excluir Conta
            </h4>
        </div>
        <div class="panel-body panel-footer">
            <p>
                Voc&ecirc; tem certeza que deseja excluir sua conta? Esta opera&ccedil;&atilde;o n&atilde;o poder&aacute; ser alterada.
            </p>
            <form>
                <button type="submit" formmethod="post" class="btn btn-danger btn-md">
                    Excluir Conta
                </button>
            </form>
        </div>
    </div>
</div>
