<div class="jumbotron" id="divVeiculos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Ajuda
                </h3>
                <dl>
                    <dt>
                        IMAGEM
                    </dt>
                    <dd>
                        Verifique se a imagem corresponde ao veículo selecionado.
                    </dd>
                    <dt>
                        Botão "Acionar Alarme"
                    </dt>
                    <dd>
                        Aciona o alarme remotamente. Se ele estiver ATIVADO, o acionamento fará com que seu estado mude para
                        DESATIVADO, e vice-versa. O estado pode ser verificado rolando a tela para baixo, em destaque em vermelho.
                    </dd>
                    <dt>
                        Botão "Remover veículo"
                    </dt>
                    <dd>
                        Remove o veículo atual
                    </dd>
                    <dt>
                        Informações do veículo
                    </dt>
                    <dd>
                        Você pode visualizar informações do veículo cadastrado, como marca, placa e cor, além do último acionamento.
                    </dd>
                    <dt>
                        Campo de notificações
                    </dt>
                    <dd>
                        Se o alarme disparar, essa área será preenchida com a notificação.
                    </dd>
                    <dt>
                        Botão "Adicionar Novo Veículo"
                    </dt>
                    <dd>
                        Cadastra um novo veículo, desde que não seja idêntico ou possua placa idêntica a de outro já cadastrado.
                    </dd>
                    <dt>
                        Menu "Operações"
                    </dt>
                    <dd>
                        Área onde você pode editar seus dados, excluir sua conta e fazer logout do sistema.
                    </dd>
                </dl>
                <p>
                    <a class="btn btn-primary btn-large" href="/">Voltar</a>
                </p>
            </div>
        </div>
    </div>
</div>