    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="info">
                    Legenda
                </h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/connected.png" width="60" height="60" alt="Conectado" />
                        </picture>
                        <span class="help-li">O alarme está pronto.</span>
                    </li>
                    <li class="list-group-item">
                        <span class="help-li">O alarme está inacessível.</span>
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/disconnected.png" width="60" height="60" alt="Conectado" />
                        </picture>
                    </li>
                    <li class="list-group-item">
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/alert.png" width="60" height="60" alt="Conectado" />
                        </picture>
                        <span class="help-li">O alarme está disparando.</span>
                    </li>
                    <li class="list-group-item">
                        <span class="help-li">O alarme está ativo e não está disparando.</span>
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/protected.png" width="60" height="60" alt="Conectado" />
                        </picture>
                    </li>
                    <li class="list-group-item">
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/ative.png" width="60" height="60" alt="Conectado" />
                        </picture>
                        <span class="help-li">O alarme está ATIVADO.</span>
                    </li>
                    <li class="list-group-item">
                        <span class="help-li">O alarme está DESATIVADO.</span>
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/inative.png" width="60" height="60" alt="Conectado" />
                        </picture>
                    </li>
                    <li class="list-group-item">
                        <picture id="conectado" class="car-info text-primary text-center">
                            <img src="../images/updated.png" width="60" height="60" alt="Conectado" />
                        </picture>
                        <span class="help-li">Indica a última ATIVAÇÃO ou DESATIVAÇÃO do alarme.</span>
                    </li>
                </ul>
                <p>
                    <a class="btn btn-primary btn-md" href="/">Voltar</a>
                </p>
            </div>
        </div>
    </div>
</div>