<div id="divVeiculos">
    <form name="listaVeiculos" id="listaVeiculos" method="get" action="/veiculos/create">
        {{#each veiculos}}
        <fieldset>
            <p>{{marca}} - {{placa}} - {{cor}}</p>
            <p>{{status}}</p>
            <p><a href="/acionamento">Acionar</a></p>
            <p><a href="/excluir">Excluir</a></p>
        </fieldset>
        {{/each}}
        <input type="submit" value="Novo veículo" />
    </form>
</div>